@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 20px auto;
  width: 360px;
  font-family: 'Poppins', sans-serif;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.logo{
    width: 50px;
    height: 50px;
}
h1{
  font-size: 22px;
}
.expense-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: aliceblue;
  padding: 20px;
}

.modal-container{
    position: fixed;
    top: -15%;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: rgb(0, 102, 255);
    width: 150px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: white;
    border-radius: 5px;
}

.expense-form input, .expense-form select{
  width: 80%;
  height: 30px;
  margin: 0 auto;
}

.expense-form label{
  margin-left: 40px;
  font-size: 13px;
}

nav{
  display: flex;
  justify-content: center;
  gap: 5px;
}
nav .nav-link{
    background-color:aliceblue;
    width: 33%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    font-size: 14px;
}
nav .nav-link:hover{
    color: white;
    background-color: rgb(0, 102, 255, 0.8);
}

.nav-link.active{
    color: white;
    background-color: rgb(0, 102, 255, 0.8);
}

button{
  width: 80%;
  height: 50px;
  margin: 10px auto;
  background-color: rgb(0, 102, 255, 0.8);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(0, 162, 255);
}

.history-container{
    width: 100%;
    background-color: aliceblue;
    padding: 0px;
}
.history-list{
    margin: 0px;
    padding-left: 10px;
}
.history-list{
    font-size: 14px;
}
.history-header{
    display: grid;
    grid-template-columns: 1fr 5fr 4fr 3fr;
    text-align:center;
    font-weight: bold;
}
.history-item{
    display: grid;
    grid-template-columns: 1fr 5fr 4fr 3fr;
}
.action-btns{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.action-btns button{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 12px;
}

.edit-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.edit-form .update-btn{
    width: 100px;
    height: 30px;
    font-size: 14px;
}
.detail-modal{
    border: 1px solid black;
    border-radius: 5px;;
    padding: 10px;
    margin-bottom: 20px;
}
.detail-modal p{
    margin: 2px 2px;
}